/* ===========================
   1.       GLOBAL
   =========================== */


/* =================
   1.1 global styles
   ================= */


   @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@300&display=swap');

   * {
       margin: 0;
       padding: 0;
       border: 0;
   }
   
   body {
        font-family: 'Montserrat', sans-serif;
   }

   /* ==============
   1.2 typography
   ============== */

h1, h2, h3, h4, a {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.6;
    letter-spacing: 0.2px;
}
   
 

/* ===========================
   2.     MAIN STYLING
   =========================== */

   /* ================
   2.2 home section
   ================ */

   #home {
       height: 60vh;
       width: 100%;
       background-color: #92579F;
       overflow: hidden;
   }

   .hero-image {
        background: url(../images/hero.jpg) no-repeat center center;
        background-size: cover;
        height: 60vh;
        width: 100%;
        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
   }

   .hero-text {
        height: 4rem;
        width: 8rem;
        position: absolute;
        bottom: 15%;
        left: 10%;
        background-color: #8C00B3;
        color: #FFFDDF;
        font-size: 150%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        padding: 0;
        opacity: 0;
        animation: hero-text;
        animation-duration: 7s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
   }


    /* 2.2.1 Hero Animation */

    @keyframes hero-zoom {
        from {
        transform: scale(1);
        }
        to {
        transform: scale(1.1);
        }
    }

    @keyframes hero-text {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
      }


   /* ===================
      2.2 welcome section
      =================== */

      #welcome {
          height: 300px;
          max-width: 100%;
          background-color: #FFFDDF;
          color: #121A18;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 1rem;
      }

      #welcome p {
        margin: 1.5rem auto;
      }

      #welcome span {
          color: #8C00B3;
          font-size: 110%;
          font-weight: 800;
      }


   /* ===================
      2.3 about section
      =================== */

      #about   {
          max-width: 100%;
          height: 1200px;
          background-color: #8C00B3;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 1rem;
      }

      .about-card {
          height: 20%;
          width: 80%;
          border: 2px solid #FFFDDF;
          margin: 0.5rem auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
      }

      .about-icon {
        font-size: 4rem;
        color: #FFFDDF;
        padding: 1rem;
        border-radius: 50%;
    }

    .about-card h3 {
        font-size: 2rem;
        color: #FFFDDF;
        margin: 0.5rem auto;
    }

    .about-card p {
        background-color: #FFFDDF;
        height: 150px;
        display: flex;
        align-items: center;
        padding-bottom: 0.25rem;
    }


   /* ==================
      2.3 events section
      ================== */

      #events {
        max-width: 100%;
        height: 1050px;
        background-color: #FFFDDF;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        padding: 1rem;
      }

    .events-card {
        color: #121A18;
        background-color: #8C00B3;
        width: 80%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .events-card h3 {
        color: #FFFDDF;
        font-size: 2rem;
        margin: 0.25 auto;
    }

    .events-card p {
        color: #FFFDDF;
    }

    .events-card a {
        text-decoration: none;
        background-color: #FFFDDF;
        color: #92579F;
        height: 2.5rem;
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 800;
        cursor: pointer;
    }
    