/* ===========================
   1.       GLOBAL
   =========================== */


/* =================
   1.1 global styles
   ================= */


   @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@300&display=swap');

   * {
       margin: 0;
       padding: 0;
       border: 0;
   }
   
   body {
        font-family: 'Montserrat', sans-serif;
   }
   
 